{% extends 'rbac/index.html' %}

{% block custom_css %}
<style>
</style>
{% endblock %}

{% block content %}
    <h1>角色列表页</h1>
    <hr>

    <table class="table table-striped">

        <tbody>
            {% if request.actions.add %}
                <a href="{% url 'role_add' %}" ><button class="btn btn-info">新增角色</button></a>
            {% endif %}

            {% for role in role_list %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.title }}</td>
                <td>{{ u.email }}<span>
                    {% if request.actions.edit %}
                        <a href="{% url 'role_edit' role.id %}"
                           style="float: right;margin-right: 30%"><button class="btn-success">编辑</button></a>
                    {% endif %}

                    {% if request.actions.delete %}
                        <a href="{% url 'role_delete' role.id %}" style="float: right;margin-right: 10%"><button class="btn-danger">删除</button></a></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}