{% extends 'rbac/index.html' %}

{% block custom_css %}
<style>
</style>
{% endblock %}

{% block content %}
    <h1>用户列表页</h1>
    <hr>

    <table class="table table-striped">
        <thead>
            <tr>
                <td style="width: 10%">id</td>
                <td style="width: 15%">姓名</td>
                <td style="width: 15%">密码</td>
                <td style="width: 60%">邮箱</td>
            </tr>
        </thead>

        <tbody>
{#            {% if 'add' in request.session.permissions_dict.1.actions %}#}
{#            {% if 'add' in request.actions %}#}
            {% if request.actions.add %}
                <a href="{% url 'user_add' %}" ><button class="btn btn-info">新增用户</button></a>
            {% endif %}

            {% for u in user_list %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.password }}</td>
                <td>{{ u.email }}<span>
{#                    {% if 'edit' in request.session.permissions_dict.1.actions %}#}
{#                    {% if 'edit' in request.actions %}#}
                    {% if request.actions.edit %}
                        <a href="{% url 'user_edit' u.id %}" style="float: right;margin-right: 30%"
                            ><button class="btn-success">编辑</button></a>
                    {% endif %}

{#                    {% if 'delete' in request.session.permissions_dict.1.actions %}#}
{#                    {% if 'delete' in request.actions %}#}
                    {% if request.actions.delete %}
                        <a href="{% url 'user_delete' u.id %}" style="float: right;margin-right: 10%"><button class="btn-danger">删除</button></a></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}